
<link rel="stylesheet" href="css/crafting.css" />

<panel header="Crafting">

    <div class="container">
        <div class="row">
            <!-- first column -->
            <div class="col-md-4">

                <!-- Recipe list -->
                <panel header="Recipes">
                    <!--<list contents="recipes" template-contents="recipe-list-item-template.html" click="recipeSelect(recipe)"></list>-->

                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding recipe-item" ng-repeat="recipe in recipes" ng-click="recipeSelect(recipe, $event)">
                            <div class="md-list-item-text">
                                {{recipe.item.name}}
                            </div>
                        </md-list-item>
                    </md-list>

                    <div>
                        <span>Recipe Name: </span>
                        <span>{{selectedRecipe.item.name}}</span>
                    </div>
                    <div>
                        <span>Slot: </span>
                        <span>{{selectedRecipe.item.bodySlot}}</span>
                    </div>
                    <div>
                        <span>Capacity: </span>
                        <span>{{selectedRecipe.extraCapacity}}</span>
                    </div>

                </panel>

                <!-- Craft button -->
                <panel header="">

                    <button class="btn btn-primary" ng-click="submitRecipe()" >
                        Craft!
                    </button>

                </panel>

            </div>

            <!-- second column -->
            <div class="col-md-4">

                <!-- Base Materials -->
                <panel header="Base Materials" ng-show="selectedRecipe">

                    <!--<list contents="selectedRecipe.recipeReqs" template-contents="recipe-requirements-template.html" click=""></list>-->

                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding recipe-item" ng-repeat="req in selectedRecipe.recipeReqs" ng-click="">
                            <div class="md-list-item-text">
                                {{req.material.name}}
                                {{req.quantity}}
                                {{req.material.icon}}
                            </div>
                        </md-list-item>
                    </md-list>

                </panel>

                <!-- Extra Materials -->
                <panel header="Extra Materials" ng-show="selectedRecipe">

                    <div>remaining capacity: {{selectedRecipe.extraCapacity}}</div>
                    <div>
                        <!--<list contents="extraMats" template-contents="recipe-requirements-template.html" click=""></list>-->
                        <md-list class="scroll-container medium-height ">
                            <md-list-item class="secondary-button-padding recipe-item" ng-repeat="mat in extraMats" ng-click="">
                                <div class="md-list-item-text">
                                    {{mat.material.name}}
                                    {{mat.quantity}}
                                    {{mat.material.icon}}
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>

                </panel>
            </div>

            <!-- third column -->
            <div class="col-md-4">

                <!-- Inventory Materials -->
                <panel header="Materials">
                    <!--pass the selected mat to the list directive so it can be compared inthe template and highlighted-->

                    <!--<md-list-item class="secondary-button-padding">-->
                        <!--<p>Clicking the button to the right will fire the secondary action</p>-->
                        <!--<md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>-->
                    <!--</md-list-item>-->
                    <!--<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">-->
                        <!--<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>-->
                        <!--<md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>-->
                    <!--</md-list-item>-->

                    <md-list class="scroll-container medium-height ">
                        <md-list-item class="secondary-button-padding inv-material-item" ng-repeat="invMaterial in mats" ng-click="matSelect(invMaterial, $event)">
                            <div class="md-list-item-text">
                                {{invMaterial.material.name}}
                                {{invMaterial.quantity}}
                                {{invMaterial.material.icon}}
                            </div>

                            <md-button class="md-secondary" ng-click="addMatToRecipe(invMaterial, $event)">Add</md-button>
                        </md-list-item>
                    </md-list>

                </panel>

                <panel header="Effects" >
                    <dl class="dl-horizontal"
                            ng-repeat="effect in selectedMat.material.effectList | filter: {'slot': selectedRecipe.item.bodySlot}"
                            ng-show="selectedRecipe && selectedMat">
                        <dt>{{effect.effectType}}</dt>
                        <dd>{{effect.value}}</dd>
                    </dl>
                </panel>

            </div>

        </div>
    </div>

</panel>

debug
<div>selectedRecipe {{selectedRecipe}}</div>
<div>inventoryMaterials {{inventoryMaterials}}</div>
