
    <div class="text-center">
        <form ng-submit="login()">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>Recipes</div>
                                <list contents="recipes" template-contents="recipe-list-item-template.html" click="recipeSelect(recipe)"></list>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>
                                    <span>Recipe Name: </span>
                                    <span>{{selectedRecipe.item.name}}</span>
                                </div>
                                <div>
                                    <span>Slot: </span>
                                    <span>{{selectedRecipe.item.bodySlot}}</span>
                                </div>
                                <div>
                                    <span>Capacity: </span>
                                    <span>{{selectedRecipe.extraCapacity}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>Base</div>
                                <div>
                                    <list contents="selectedRecipe.recipeReqs" template-contents="recipe-requirements-template.html" click=""></list>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div>Extra</div>
                                <div>remaining capacity: {{selectedRecipe.extraCapacity}}</div>
                                <div>
                                    <select size="10" ng-model="item" ng-options="mat for mat in extraMats" ng-change="matSelect()"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            <div>Materials</div>
                            <list contents="mats" template-contents="inventory-materials-template.html" click="matSelect(recipe)"></list>
                            <div>
                                <input type="text" value="1" />
                                <a href="" ng-click="addMatToRecipe()" >Add to Recipe</a>
                            </div>
                            <div ng-show="selectedRecipe && selectedMat" >
                                Effects:
                                <div ng-repeat="effect in filterEffects(selectedMat.materialModel.effectList)" >
                                    {{effect.effectType}}
                                    {{effect.value}}
                                    {{effect.slot}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>


    debug {{selectedRecipe}}

<style>
    .equipment-list {
        width:300px;
        height:300px;
    }
    .equipment-item {
        height:30px;
        border-color: #ccc !important;
        background-color: #ddf;
    }
</style>


