
<div class="jumbotron text-center">

    <p>{{ message }}</p>

    <p>HQ: </p>

    <a href="#inventory" >Inventory</a>
    <br/>
    <a href="#crafting" >Crafting</a>
    <br/>
    <a href="#dungeon" ng-show="char.currentMap">Dungeon</a>
    <a href="#portals" ng-hide="char.currentMap">Portals</a>

    <!--<button ng-click="inventory()">Inventory</button>-->
    <!--<button ng-click="dungeon()">Dungeon</button>-->
    <!--<button ng-click="crafting()">Crafting</button>-->

    <br/>

    {{char}}

</div>


