<div class="jumbotron text-center">

    <!--<p>{{ message }}</p>-->

    <p>Materials: </p>

    <div ng-repeat="mat in mats">
        <span>Mat Name {{mat.name}} </span>
        <span>Mat icon {{mat.icon}} </span>
        <span>Mat id {{mat.id}} </span>
        <span>Effects </span>
        <div ng-repeat="effect in mat.effectList">
            <span>{{effect}}</span>
        </div>
        <!--<span>Char Type {{c.chartype}} </span>-->

        <!--<a href="#editchar/{{c._id}}" >Edit</a>-->
    </div>

    <button value="Add new mat" ng-click="addNewMat()"/>

    <!--<a href="#newchar" >New</a>-->
</div>





    <!--get materials from api/materials, list here-->
        <!--show effects on each material-->
        <!--add effect button-->

    <!-- new material -->
