/** list box directive */
/*div.scroll-list {
    overflow-y:scroll;
    border: 1px solid #333
}
div.scroll-list-inner {
    border-right: 1px solid #333;
}
div.scroll-item {
    width:100%;
    border-bottom: 1px solid #333;
}*/

.scroll-container {
    overflow-y: scroll;
}
.medium-height {
    height: 300px;
}
/*.small-height {
    min-height: 48px !important;
}*/

.panel-body md-list {
    margin: -15px;
    padding: 0px;
}

.toggle-button-selected:active, .toggle-button-selected {
    color:red;
}