/** list box directive */
/*div.scroll-list {
    overflow-y:scroll;
    border: 1px solid #333
}
div.scroll-list-inner {
    border-right: 1px solid #333;
}
div.scroll-item {
    width:100%;
    border-bottom: 1px solid #333;
}*/

.scroll-container {
    overflow-y: scroll;
}
.medium-height {
    height: 300px;
}
/*.small-height {
    min-height: 48px !important;
}*/

.panel-body md-list {
    margin: 0px;
    padding: 0px;
}

.toggle-button {
    color: gray;
    padding: 0px;
    margin: 0px;
}

.toggle-button-selected {
    color: green;
    background-color: lightgreen;
}

.toggle-button-icon {
    width: 20px;
    height: 20px;
}


.icon-md {
    width: 30px;
    height: 30px;
}

/** Paper doll */
.paper-doll {
    height:400px;
    width: 320px;
    margin:auto;
}

.paper-doll-wrapper {
    position:relative;

}

.paper-doll-img {

}

.paper-doll-slot {
    position: absolute;
    border: 1px solid black;
}

.paper-doll-body {
    top: 60px;
    left: 120px;
    width: 80px;
    height: 120px;
}

.paper-doll-left-hand{
    top: 60px;
    left: 20px;
    width: 80px;
    height: 120px;
}

.paper-doll-right-hand{
    top: 60px;
    left: 200px;
    width: 80px;
    height: 120px;
}