<div class="row" >

    <div class="row" >
        <div class="col-sm-1"><img src="/img/resources/{{material.icon}}.png" /></div>
        <div class="col-sm-1">{{material.name}}</div>
        <div class="col-sm-1">({{material.id}})</div>
        <div class="col-sm-1"><button ng-click="deleteMat(material.id)" >Delete mat</button></div>
    </div>

    <div class="row" ng-repeat="eff in material.effectList">
        <div class="col-sm-1">{{eff.effectType}}</div>
        <div class="col-sm-1">{{eff.value}}</div>
        <div class="col-sm-1">{{eff.slot}}</div>
        <div class="col-sm-1">({{eff.id}})</div>
        <div class="col-sm-1"><button ng-click="deleteEffect(material.id, eff.id)" >Delete eff</button></div>
    </div>
    <div class="row">
        <button ng-click="addEffect(material.id)">Add Effect</button>
    </div>

</div>